.persone{
    box-sizing: border-box;
    display:flex; 
    justify-content: space-around;
    align-content: center;
    height: 11em;
    max-width:1400px;
    min-width:380px;
    margin: 3em auto 0;
    background: #ffffff;
    border-radius: 5px;
    padding: 1.5em;
}
 .persone a{
     text-decoration: none;
     color:#4d75a3;
 }
 .persone h3{
     font-size: 20px;
     margin: 0px  0px -15px 0px;
 }
.persone .img_name{
    display: inline-flex;
}
.persone .img_name .face{
    width: 7em;
    height: 7em;
    border-radius: 3.7em;
    margin: auto 1em;
}


.persone .img_name .name li h2{
    color:#3f4f5f;
}

.persone .img_name .name li span{
    color:#8f9dae;
}

.persone .item_stat{
    flex-grow:1;
    text-align: center;
    padding-top:50px;
}

.persone .first_stat{
    border-left: 1px solid #e5e5e5;
    margin-left: 1em;
}

.persone .name{
    list-style:none;
}

@media(max-width: 790px)
{
    .persone .name li span{
        display: none;
    }
    .persone .img_name .face{
        display:none;
    }
    .persone .img_name .name{
        padding:0px;
        margin-top: 30px;
    }
}

.persone .bottom {
    flex-grow: 2;
    list-style: none;
}

.persone .bottom ul{
    margin-right: 5px;
}

.persone .bottom li{
    border: 1px solid #4d75a3;
    border-radius: 5px;
    height: 2em;
    text-align: center;
    padding-top: 0.7em;
    color: #4d75a3;
}

.persone .bottom li a{
    color:   #4d75a3;  
}

.persone .bottom li .fa{
    display:none;
}

.persone .bottom .message{
    margin-bottom: 1em;
    min-width: 100px;
}
@media(max-width:700px)
{
    .persone .bottom li .fa{
        display:inherit;
    }
    .persone .bottom li .msg{
        display:none;
    }
    .persone .bottom .message{
        min-width: 20px;
    }
    .persone .bottom{
    padding-left: 5px;
    margin-right: 1px;
    }
    .persone{
        padding-left: 5px;
        padding-right: 5px;
    }
    .persone .first_stat{
        margin-left: 5px;
    }
}

.persone .bottom .message:hover{
    background: #4d75a3;
}
.persone .bottom .message:hover a{
    color:white;
}